In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\new\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\new\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\new\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\new\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\new\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('atbats.csv', usecols=['ab_id','event','p_throws','stand'])
df

             ab_id      event p_throws stand
0       2015000001  Groundout        L     L
1       2015000002     Double        L     L
2       2015000003     Single        L     R
3       2015000004  Strikeout        L     R
4       2015000005  Strikeout        L     L
...            ...        ...      ...   ...
740384  2018185570  Groundout        L     L
740385  2018185571  Strikeout        L     L
740386  2018185572     Flyout        L     R
740387  2018185573     Single        L     R
740388  2018185574     Flyout        L     L

[740389 rows x 4 columns]

In [4]:
df.count()

ab_id       740389
event       740389
p_throws    740389
stand       740389
dtype: int64

In [5]:
df.isnull()

        ab_id  event  p_throws  stand
0       False  False     False  False
1       False  False     False  False
2       False  False     False  False
3       False  False     False  False
4       False  False     False  False
...       ...    ...       ...    ...
740384  False  False     False  False
740385  False  False     False  False
740386  False  False     False  False
740387  False  False     False  False
740388  False  False     False  False

[740389 rows x 4 columns]

In [6]:
df.dtypes

ab_id        int64
event       object
p_throws    object
stand       object
dtype: object

In [7]:
df.to_csv (r'C:\Users\New\Desktop\BootcampUA\Final Project\filtered_atbats.csv', index = False, header=True)

print (df)

             ab_id      event p_throws stand
0       2015000001  Groundout        L     L
1       2015000002     Double        L     L
2       2015000003     Single        L     R
3       2015000004  Strikeout        L     R
4       2015000005  Strikeout        L     L
...            ...        ...      ...   ...
740384  2018185570  Groundout        L     L
740385  2018185571  Strikeout        L     L
740386  2018185572     Flyout        L     R
740387  2018185573     Single        L     R
740388  2018185574     Flyout        L     L

[740389 rows x 4 columns]